<a href="https://colab.research.google.com/github/plaban1981/INEURON/blob/master/Pandas_file_read_and_write_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

# file Read Write operation

In [0]:
import numpy as np
import pandas as pd
#np.set_printoptions(precision=4)

In [2]:
import pandas as pd

draft1 = pd.read_csv('ex1.csv')    # Supply the file name (path)

draft1.head(4)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Reading a tab separated file using pandas read_table

In [3]:
draft2 = pd.read_table('test.tsv')  # Read a tsv into a DataFrame

draft2.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [4]:
draft3 = pd.read_csv('test.tsv',sep='\t')
draft3.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [5]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Pandas read_csv to skip header

In [7]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

## Adding Column Names

In [8]:
df =pd.read_csv('ex2.csv', names=['asdfdsfs','fsdf', 'b', 'c', 'sudh', 'message'])
type(df)

pandas.core.frame.DataFrame

## Using Unix commands to read the content of a file

In [9]:
!cat csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

## Create Multi-Index

In [10]:
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [11]:
!cat ex4.csv
pd.read_csv('ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Check Null Values

In [12]:
!cat ex5.csv
result = pd.read_csv('ex5.csv')
result
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

## retrieve total number of NULL values if any per each column

In [13]:
result.isnull().sum()[result.isnull().sum() > 0]

c          1
message    1
dtype: int64

In [14]:
result = pd.read_csv('ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

## Reading the contents from Sheet Name for a xlx file

In [0]:
draft3 = pd.read_excel('/Users/sudhanshukumar/Downloads/Transactions_Zenapt.xlsx',sheetname = 'Expense') # Name of sheet to read from

draft3.head(6)

,Date,Description,Category,Cost,Invoice/Agreement present,GST number present in the invoice/ TDS Deducted,Payment details
0,MM-DD-YYYY,Recipt Name,-,INR,Yes or No,Yes or No,"Directors Account(Name),Others Account(Name of..."
1,2017-02-11 00:00:00,Domain Zenapt.In,General,904,Yes,No,Others Account(Jugal Kishore Agarwal)
2,2018-02-11 00:00:00,Franchisee License Fee,General,118000,Yes,No,Others Account(Dibyanshu Kumar)
3,2018-02-01 00:00:00,Company Registration,General,26000,Yes,No,Others Account(Priyambada Baliase)
4,2018-03-01 00:00:00,Carpenter material,Furniture,44200,Partly,No,Others Account(Jugal Kishore Agarwal)
5,2018-02-17 00:00:00,Reddy Deposit,Rent,175000,Yes,No,Directors Account(Jugal Kishore Agarwal)

## Read Data from an URL

In [15]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BB_data = pd.read_html(url)         # Read data from the specified url

BB_data[0].ix[:, 0:20].head(5)      # Check 5 rows (10 columns only)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

  Rk         Player Pos Age   Tm   G  GS  ...   3P%   2P  2PA   2P%  eFG%   FT  FTA
0  1     Quincy Acy  PF  24  NYK  68  22  ...  .300  134  271  .494  .486   76   97
1  2   Jordan Adams  SG  20  MEM  30   0  ...  .400   25   61  .410  .465   14   23
2  3   Steven Adams   C  21  OKC  70  67  ...  .000  217  397  .547  .544  103  205
3  4    Jeff Adrien  PF  28  MIN  17   0  ...   NaN   19   44  .432  .432   22   38
4  5  Arron Afflalo  SG  29  TOT  78  72  ...  .354  257  551  .466  .491  167  198

[5 rows x 20 columns]

In [0]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t')

In [17]:
titanic_train.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [18]:
titanic_train[["Name","Pclass"]].head()

                                                Name  Pclass
0                            Braund, Mr. Owen Harris       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2                             Heikkinen, Miss. Laina       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4                           Allen, Mr. William Henry       3

In [19]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [0]:
pd.options.display.max_rows = 10

In [21]:
result = pd.read_csv('ex6.csv')
result.head()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [22]:
pd.read_csv('ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

##Reading Large files with limiting number of rows read using chunksize

In [23]:
chunk = pd.read_csv('ex6.csv', chunksize=10000)
type(chunk)

pandas.io.parsers.TextFileReader

In [24]:
chunk.get_chunk(5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [25]:
for items in chunk:
  print(items)

           one       two     three      four key
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[9995 rows x 5 columns]

In [26]:
chunk1 = pd.read_csv('ex6.csv')
chunk1.head()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [27]:
chunk1.shape

(10000, 5)

## Writing Data to Text Format

In [28]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [0]:
data.to_csv('/Users/sudhanshukumar/Downloads/out.csv')
!cat /Users/sudhanshukumar/Downloads/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [0]:
import sys
data.to_csv('/Users/sudhanshukumar/Downloads/out1.csv', sep='@')

In [0]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [0]:
data.to_csv('/Users/sudhanshukumar/Downloads/out2.csv', index=False, header=False)

In [0]:
data.to_csv('/Users/sudhanshukumar/Downloads/out3.csv', index=False, columns=['a', 'b', 'c'])

In [29]:
dates = pd.date_range('1/1/2000', periods=7)
print(dates)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('tseries_new.csv')
!cat tseries_new.csv

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

Working with Delimited Formats

In [32]:
import csv
f = open('ex7.csv')

reader = csv.reader(f)
reader

In [33]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [0]:
f.close()

##Open files using With Clause

In [0]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [38]:
header, values = lines[0], lines[1:]

print(header)
print(values)

['a', 'b', 'c']
[['1', '2', '3'], ['1', '2', '3']]

In [40]:
for v in zip(*values):
  print(v)

('1', '1')
('2', '2')
('3', '3')

In [41]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

## JSON Data

In [0]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [44]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [0]:
asjson = json.dumps(result)

In [46]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [47]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age','pets'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [48]:
!cat example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [0]:
data = pd.read_json('example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [49]:
print(data.to_json())
print(data.to_json(orient='records'))

{"something":{"0":"one","1":"two","2":"three"},"a":{"0":1,"1":5,"2":9},"b":{"0":2,"1":6,"2":10},"c":{"0":3.0,"1":null,"2":11.0},"d":{"0":4,"1":8,"2":12},"message":{"0":null,"1":"world","2":"foo"}}
[{"something":"one","a":1,"b":2,"c":3.0,"d":4,"message":null},{"something":"two","a":5,"b":6,"c":null,"d":8,"message":"world"},{"something":"three","a":9,"b":10,"c":11.0,"d":12,"message":"foo"}]

XML and HTML: Web Scraping

In [50]:
tables = pd.read_html('fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

                      Bank Name  ...       Updated Date
0                   Allied Bank  ...  November 17, 2016
1  The Woodbury Banking Company  ...  November 17, 2016
2        First CornerStone Bank  ...  September 6, 2016
3            Trust Company Bank  ...  September 6, 2016
4    North Milwaukee State Bank  ...      June 16, 2016

[5 rows x 7 columns]

In [51]:
tables

[                             Bank Name  ...       Updated Date
 0                          Allied Bank  ...  November 17, 2016
 1         The Woodbury Banking Company  ...  November 17, 2016
 2               First CornerStone Bank  ...  September 6, 2016
 3                   Trust Company Bank  ...  September 6, 2016
 4           North Milwaukee State Bank  ...      June 16, 2016
 ..                                 ...  ...                ...
 542                 Superior Bank, FSB  ...    August 19, 2014
 543                Malta National Bank  ...  November 18, 2002
 544    First Alliance Bank & Trust Co.  ...  February 18, 2003
 545  National State Bank of Metropolis  ...     March 17, 2005
 546                   Bank of Honolulu  ...     March 17, 2005

 [547 rows x 7 columns]]

In [52]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()
#close_timestamps

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

# Binary Data Formats

In [0]:
frame = pd.read_csv('ex1.csv')
frame
frame.to_pickle('frame_pickle')#convert to binary compressed format(pickle)

In [54]:
pd.read_pickle('frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [55]:
!rm /frame_pickle

rm: cannot remove '/frame_pickle': No such file or directory

Using HDF5 Format

In [56]:
frame = pd.DataFrame({'a': np.random.randn(100)})
print(frame)
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

           a
0  -0.624230
1  -0.218139
2   1.907147
3  -0.581335
4  -0.979069
..       ...
95 -0.677889
96  0.475427
97  2.319800
98  0.108319
99 -0.376269

[100 rows x 1 columns]

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [0]:
store['obj1']

           a
0   1.212260
1   1.438855
2  -0.426525
3   2.774679
4   1.090206
..       ...
95  2.261248
96 -1.936576
97  0.327743
98 -0.567130
99 -1.563750

[100 rows x 1 columns]

In [0]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [58]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.624230
1 -0.218139
2  1.907147
3 -0.581335
4 -0.979069

# Web APIs

In [60]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [61]:
data = resp.json()
data[2]['user']

{'avatar_url': 'https://avatars0.githubusercontent.com/u/13399445?v=4',
 'events_url': 'https://api.github.com/users/gsganden/events{/privacy}',
 'followers_url': 'https://api.github.com/users/gsganden/followers',
 'following_url': 'https://api.github.com/users/gsganden/following{/other_user}',
 'gists_url': 'https://api.github.com/users/gsganden/gists{/gist_id}',
 'gravatar_id': '',
 'html_url': 'https://github.com/gsganden',
 'id': 13399445,
 'login': 'gsganden',
 'node_id': 'MDQ6VXNlcjEzMzk5NDQ1',
 'organizations_url': 'https://api.github.com/users/gsganden/orgs',
 'received_events_url': 'https://api.github.com/users/gsganden/received_events',
 'repos_url': 'https://api.github.com/users/gsganden/repos',
 'site_admin': False,
 'starred_url': 'https://api.github.com/users/gsganden/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/gsganden/subscriptions',
 'type': 'User',
 'url': 'https://api.github.com/users/gsganden'}

In [68]:
data

[{'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': 'If we construct MI with `nan`, and check the `levels`, output does not contain `nan`,\r\n```python\r\n>>> tuples = [["A", "B"], ["A", np.nan], ["B", "A"]]\r\n>>> mi = pd.MultiIndex.from_tuples(tuples, names=list("ab"))\r\n>>> mi.levels\r\nFrozenList([[\'A\', \'B\'], [\'A\', \'B\']])\r\n```\r\n\r\nHowever, if the `nan` is gotten by operations, the `nan` is included, e.g.\r\n```python\r\n>>> l = [["a", np.NaN, 12, 12], [None, "a", 12.3, 33.], ["b", np.nan, 12.3, 123], ["a", "a", 1, 1]]\r\n>>> df = pd.DataFrame(l, columns=["a", "b", "c", "d"])\r\n>>> grouped = df.groupby(by=["a", "b"], dropna=False).sum()\r\n>>> grouped.index.levels\r\nFrozenList([[\'a\', \'b\', nan], [\'a\', nan]])\r\n```\r\n\r\nThis is quite inconsistent though, is it an intended behaviour?',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30750/comments',
  'created_at': '2020-01-06T18:30:30Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30750/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/30750',
  'id': 545871615,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30750/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDU6SXNzdWU1NDU4NzE2MTU=',
  'number': 30750,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'NA is not included in MultiIndex.levels if we construct MI with nan',
  'updated_at': '2020-01-06T18:33:18Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30750',
  'user': {'avatar_url': 'https://avatars0.githubusercontent.com/u/9269816?v=4',
   'events_url': 'https://api.github.com/users/charlesdong1991/events{/privacy}',
   'followers_url': 'https://api.github.com/users/charlesdong1991/followers',
   'following_url': 'https://api.github.com/users/charlesdong1991/following{/other_user}',
   'gists_url': 'https://api.github.com/users/charlesdong1991/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/charlesdong1991',
   'id': 9269816,
   'login': 'charlesdong1991',
   'node_id': 'MDQ6VXNlcjkyNjk4MTY=',
   'organizations_url': 'https://api.github.com/users/charlesdong1991/orgs',
   'received_events_url': 'https://api.github.com/users/charlesdong1991/received_events',
   'repos_url': 'https://api.github.com/users/charlesdong1991/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/charlesdong1991/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/charlesdong1991/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/charlesdong1991'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': 'Fixes PR08 errors. When I ran the script, a lot of them seem to be false positives, these are the ones I\'m pretty sure should be fixed:\r\n```\r\npandas.infer_freq: Parameter "index" description should start with a capital letter\r\npandas.MultiIndex.get_loc_level: Parameter "drop_level" description should start with a capital letter\r\n```\r\nRelated to #27977 cc @datapythonista\r\n\r\n- [ ] closes #xxxx\r\n- [ ] tests added / passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30749/comments',
  'created_at': '2020-01-06T18:22:38Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30749/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/30749',
  'id': 545868404,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30749/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzU5NjU1NDM4',
  'number': 30749,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/30749.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/30749',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/30749.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/30749'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'Fix PR08 errors',
  'updated_at': '2020-01-06T18:22:38Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30749',
  'user': {'avatar_url': 'https://avatars0.githubusercontent.com/u/10180442?v=4',
   'events_url': 'https://api.github.com/users/galuhsahid/events{/privacy}',
   'followers_url': 'https://api.github.com/users/galuhsahid/followers',
   'following_url': 'https://api.github.com/users/galuhsahid/following{/other_user}',
   'gists_url': 'https://api.github.com/users/galuhsahid/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/galuhsahid',
   'id': 10180442,
   'login': 'galuhsahid',
   'node_id': 'MDQ6VXNlcjEwMTgwNDQy',
   'organizations_url': 'https://api.github.com/users/galuhsahid/orgs',
   'received_events_url': 'https://api.github.com/users/galuhsahid/received_events',
   'repos_url': 'https://api.github.com/users/galuhsahid/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/galuhsahid/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/galuhsahid/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/galuhsahid'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': '#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame({"A": [[1, 2], [3, 4]], "B": ["x", "y"]}, index=[0, 0])\r\ndf.explode("A")\r\n```\r\n\r\nOutput:\r\n\r\n```\r\n   A  B\r\n0  1  x\r\n0  2  x\r\n0  3  x\r\n0  4  x\r\n0  1  y\r\n0  2  y\r\n0  3  y\r\n0  4  y\r\n```\r\n\r\n#### Problem description\r\n\r\nWe are getting rows with e.g. `A=3` and `B=x`, which never appears in the original data. The `.explode()` method appears to be effectively combining rows with the same index value before splitting them, which is surprising at least to me.\r\n\r\n#### Expected Output\r\n\r\n```\r\n   A  B\r\n0  1  x\r\n0  2  x\r\n0  3  y\r\n0  4  y\r\n```\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.6.9.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 4.14.77-70.82.amzn1.x86_64\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : C.UTF-8\r\nLANG             : None\r\nLOCALE           : en_US.UTF-8\r\n\r\npandas           : 0.25.3\r\nnumpy            : 1.17.2\r\npytz             : 2019.2\r\ndateutil         : 2.8.0\r\npip              : 19.3.1\r\nsetuptools       : 41.2.0\r\nCython           : 0.28.4\r\npytest           : 5.2.0\r\nhypothesis       : 4.38.1\r\nsphinx           : 2.2.0\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : 2.7.7 (dt dec pq3 ext lo64)\r\njinja2           : 2.10.1\r\nIPython          : 7.8.0\r\npandas_datareader: None\r\nbs4              : 4.8.0\r\nbottleneck       : 1.3.1\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : None\r\nmatplotlib       : 3.1.1\r\nnumexpr          : 2.7.0\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : 0.15.1\r\npytables         : None\r\ns3fs             : 0.4.0\r\nscipy            : 1.3.1\r\nsqlalchemy       : 1.3.10\r\ntables           : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nxlsxwriter       : None\r\n\r\n\r\n</details>\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30748/comments',
  'created_at': '2020-01-06T18:13:38Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30748/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/30748',
  'id': 545864558,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30748/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDU6SXNzdWU1NDU4NjQ1NTg=',
  'number': 30748,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': '`pandas.DataFrame.explode()` combines rows with repeated index values',
  'updated_at': '2020-01-06T18:13:38Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30748',
  'user': {'avatar_url': 'https://avatars0.githubusercontent.com/u/13399445?v=4',
   'events_url': 'https://api.github.com/users/gsganden/events{/privacy}',
   'followers_url': 'https://api.github.com/users/gsganden/followers',
   'following_url': 'https://api.github.com/users/gsganden/following{/other_user}',
   'gists_url': 'https://api.github.com/users/gsganden/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/gsganden',
   'id': 13399445,
   'login': 'gsganden',
   'node_id': 'MDQ6VXNlcjEzMzk5NDQ1',
   'organizations_url': 'https://api.github.com/users/gsganden/orgs',
   'received_events_url': 'https://api.github.com/users/gsganden/received_events',
   'repos_url': 'https://api.github.com/users/gsganden/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/gsganden/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/gsganden/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/gsganden'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': 'Convert to an array earlier on.\r\nCloses https://github.com/pandas-dev/pandas/issues/30744',
  'closed_at': None,
  'comments': 4,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30747/comments',
  'created_at': '2020-01-06T17:42:48Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30747/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/30747',
  'id': 545851201,
  'labels': [{'color': 'e11d21',
    'default': False,
    'description': None,
    'id': 78527356,
    'name': 'Categorical',
    'node_id': 'MDU6TGFiZWw3ODUyNzM1Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical'},
   {'color': '0b02e1',
    'default': False,
    'description': 'Related to indexing on series/frames, not to indexes themselves',
    'id': 2822098,
    'name': 'Indexing',
    'node_id': 'MDU6TGFiZWwyODIyMDk4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Indexing'},
   {'color': 'a10c02',
    'default': False,
    'description': None,
    'id': 8935311,
    'name': 'Performance',
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30747/labels{/name}',
  'locked': False,
  'milestone': {'closed_at': None,
   'closed_issues': 1947,
   'created_at': '2012-09-13T02:13:00Z',
   'creator': {'avatar_url': 'https://avatars2.githubusercontent.com/u/329591?v=4',
    'events_url': 'https://api.github.com/users/wesm/events{/privacy}',
    'followers_url': 'https://api.github.com/users/wesm/followers',
    'following_url': 'https://api.github.com/users/wesm/following{/other_user}',
    'gists_url': 'https://api.github.com/users/wesm/gists{/gist_id}',
    'gravatar_id': '',
    'html_url': 'https://github.com/wesm',
    'id': 329591,
    'login': 'wesm',
    'node_id': 'MDQ6VXNlcjMyOTU5MQ==',
    'organizations_url': 'https://api.github.com/users/wesm/orgs',
    'received_events_url': 'https://api.github.com/users/wesm/received_events',
    'repos_url': 'https://api.github.com/users/wesm/repos',
    'site_admin': False,
    'starred_url': 'https://api.github.com/users/wesm/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/wesm/subscriptions',
    'type': 'User',
    'url': 'https://api.github.com/users/wesm'},
   'description': '',
   'due_on': '2020-02-01T08:00:00Z',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/16',
   'id': 174211,
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/16/labels',
   'node_id': 'MDk6TWlsZXN0b25lMTc0MjEx',
   'number': 16,
   'open_issues': 44,
   'state': 'open',
   'title': '1.0',
   'updated_at': '2020-01-06T18:11:51Z',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/16'},
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzU5NjQxNTM1',
  'number': 30747,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/30747.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/30747',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/30747.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/30747'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'PERF: Categorical getitem perf',
  'updated_at': '2020-01-06T18:11:51Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30747',
  'user': {'avatar_url': 'https://avatars3.githubusercontent.com/u/1312546?v=4',
   'events_url': 'https://api.github.com/users/TomAugspurger/events{/privacy}',
   'followers_url': 'https://api.github.com/users/TomAugspurger/followers',
   'following_url': 'https://api.github.com/users/TomAugspurger/following{/other_user}',
   'gists_url': 'https://api.github.com/users/TomAugspurger/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/TomAugspurger',
   'id': 1312546,
   'login': 'TomAugspurger',
   'node_id': 'MDQ6VXNlcjEzMTI1NDY=',
   'organizations_url': 'https://api.github.com/users/TomAugspurger/orgs',
   'received_events_url': 'https://api.github.com/users/TomAugspurger/received_events',
   'repos_url': 'https://api.github.com/users/TomAugspurger/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/TomAugspurger/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/TomAugspurger/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/TomAugspurger'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': '- [X] xref #28822\r\n- [ ] tests added / passed\r\n- [X] passes `black pandas`\r\n- [X] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n\r\nWe moved our script to numpydoc, and it already had some improvements there. The script does like 80% of our validation, so what I\'m doing here is to call numpydoc validation, and then call our custom validation (things that for different reasons weren\'t moved to numpydoc).\r\n\r\nThis is working and ready for review, but I\'ll still perform some manual tests before it\'s merged.',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30746/comments',
  'created_at': '2020-01-06T17:32:37Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30746/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/30746',
  'id': 545846834,
  'labels': [{'color': 'a2bca7',
    'default': False,
    'description': None,
    'id': 48070600,
    'name': 'CI',
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI'},
   {'color': '3465A4',
    'default': False,
    'description': None,
    'id': 134699,
    'name': 'Docs',
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30746/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzU5NjM4MDAw',
  'number': 30746,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/30746.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/30746',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/30746.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/30746'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'WIP: Using docstring validator from numpydoc',
  'updated_at': '2020-01-06T17:32:37Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30746',
  'user': {'avatar_url': 'https://avatars2.githubusercontent.com/u/10058240?v=4',
   'events_url': 'https://api.github.com/users/datapythonista/events{/privacy}',
   'followers_url': 'https://api.github.com/users/datapythonista/followers',
   'following_url': 'https://api.github.com/users/datapythonista/following{/other_user}',
   'gists_url': 'https://api.github.com/users/datapythonista/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/datapythonista',
   'id': 10058240,
   'login': 'datapythonista',
   'node_id': 'MDQ6VXNlcjEwMDU4MjQw',
   'organizations_url': 'https://api.github.com/users/datapythonista/orgs',
   'received_events_url': 'https://api.github.com/users/datapythonista/received_events',
   'repos_url': 'https://api.github.com/users/datapythonista/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/datapythonista/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/datapythonista/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/datapythonista'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': "Closes https://github.com/pandas-dev/pandas/issues/30735\r\n\r\nThis avoids using _DeprecatedModule, which doesn't work for\r\ndirect imports from a module. Sorry for the importlib magic, but\r\nI think this is the correct way to do things.\r\n\r\ncc @jorisvandenbossche.",
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30745/comments',
  'created_at': '2020-01-06T16:50:02Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30745/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/30745',
  'id': 545827283,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30745/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzU5NjIyNjE3',
  'number': 30745,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/30745.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/30745',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/30745.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/30745'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'DEPR/REGR: Fix pandas.util.testing deprecation',
  'updated_at': '2020-01-06T17:35:52Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30745',
  'user': {'avatar_url': 'https://avatars3.githubusercontent.com/u/1312546?v=4',
   'events_url': 'https://api.github.com/users/TomAugspurger/events{/privacy}',
   'followers_url': 'https://api.github.com/users/TomAugspurger/followers',
   'following_url': 'https://api.github.com/users/TomAugspurger/following{/other_user}',
   'gists_url': 'https://api.github.com/users/TomAugspurger/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/TomAugspurger',
   'id': 1312546,
   'login': 'TomAugspurger',
   'node_id': 'MDQ6VXNlcjEzMTI1NDY=',
   'organizations_url': 'https://api.github.com/users/TomAugspurger/orgs',
   'received_events_url': 'https://api.github.com/users/TomAugspurger/received_events',

In [71]:
issues = pd.DataFrame(data, columns=['number', 'title','html_url',
                                     'labels', 'state'])
issues

    number  ... state
0    30750  ...  open
1    30749  ...  open
2    30748  ...  open
3    30747  ...  open
4    30746  ...  open
..     ...  ...   ...
25   30718  ...  open
26   30717  ...  open
27   30711  ...  open
28   30708  ...  open
29   30699  ...  open

[30 rows x 5 columns]

# Interacting with Databases

In [0]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata2.sqlite')
con.execute(query)
con.commit()

In [0]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [0]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [0]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [0]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [0]:
db.commit()

In [0]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [0]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [0]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [0]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [0]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [0]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)